// @keyframes fadein {
//     from {
//         opacity:0;
//     }
//     to {
//         opacity:1;
//     }
// }
// @-moz-keyframes fadein { /* Firefox */
//     from {
//         opacity:0;
//     }
//     to {
//         opacity:1;
//     }
// }
// @-webkit-keyframes fadein { /* Safari and Chrome */
//     from {
//         opacity:0;
//     }
//     to {
//         opacity:1;
//     }
// }
// @-o-keyframes fadein { /* Opera */
//     from {
//         opacity:0;
//     }
//     to {
//         opacity: 1;
//     }
// }

// // https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/
// body {
//   width: 100%;
//   max-width: 1140px;
//   margin: 30px auto;
//   background-color: #e0e0e0;
//   font-family: Arial, sans-serif;

//   article {
//     font-size: 0;
//  		animation: fadein .8s;
//     -moz-animation: fadein .8s; /* Firefox */
//     -webkit-animation: fadein .8s; /* Safari and Chrome */
//     -o-animation: fadein .8s; /* Opera */

//         a {
//           font-size: 16px;
//           overflow: hidden;
//           display: inline-block;
//           margin-bottom: 8px;
//           width: calc(50% - 4px);
//           margin-right: 8px;

//           figure {
//             margin: 0;
//             overflow: hidden;

//             img {
//               display: block;
//               height: auto;
//               max-width: 100%;
//               border: none;
//               transition: transform .2s ease-in-out;

//               &:hover {
//                 transform: scale(1.15);
//               }
//             }
//           }

//           &:nth-of-type(2n) {
//             margin-right: 0;
//           }
//         }

//         @media screen and (min-width: 50em) {
//           a {
//             width: calc(25% - 6px);
//           }

//           a:nth-of-type(2n) {
//             margin-right: 8px;
//           }

//           a:nth-of-type(4n) {
//             margin-right: 0;
//           }
//         }
//     }

//   footer {
//     text-align: center;

//     a {
//       text-decoration: none;
//       font-size: 8px;
//       color: #000;
//       transition: color .3s ease;

//       &:hover {
//         color: #f4645f;
//       }
//     }
//   }
// }
html {
		body {
	  width: 100%;
	  max-width: 1800px;
	  margin: 30px auto;
	  background-color: #e0e0e0;
	  font-family: Arial, sans-serif;
		// Removes standard image margin
		font-size: 0;

	  h1 {
			text-align: center;
			padding-bottom: 5px;
	  	a {
	  		color: #000;
	  		font-size: 10px;
	  		text-decoration: none;
	  	}
	  }

	  a {
			font-size: 16px;
			display: inline-block;
			margin: 0;
			padding: 0;
			border: none;
			transition: transform .2s ease-in-out;

			img {
		    display: block;
		    height: 100%;
		    max-width: 100%;
		    border: none;
	  		margin: 0;
				padding: 0;

			}

			&:hover {
				transform: scale(1.05);
				-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
				box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
			}
	  }
		}

  @media screen and (max-width: 1214px) {
  	body {
			max-width: 600px;

			a {

				img {
					width: 100%;
				}
			}
  	}
  }

  @media screen and (max-width: 1814px) {
  	body {
			max-width: 1200px;
  	}
  }
}


